.container-style {
    padding: 10px;
    margin: 10px;
    background-color: #03A9F4;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    display: flex;
}

.container {
    flex-wrap: wrap;
}

.item {
    margin: 10px;
}